/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* my code starts here  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

html,
body {
  overflow-x: hidden;
}

header h1 {
  text-align: center;
  font-size: 40px;
  background-color: #d0dfe6;
  color: #0d3f67;
  margin-bottom: 10px;
  padding: 30px 0px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.map-container {
  float: left;
  width: 63%;
}
#mapid {
  height: 500px;
}

/* map key  */
.map-key-container {
  width: 100%;
  position: relative;
  clear: both;
  text-align: center;
  padding: 10px;
}
.map-key-container h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.map-key {
  text-align: center;
  display: inline-flex;
  width: 97%;
  margin: auto;
}
.key-box {
  width: 13%;
  display: inline-block;
}

.key-color {
  width: 100%;
  height: 15px;
}
.key-num {
  margin-top: 10px;
  font-size: 14px;
}

#state-container {
  float: left;
  width: 30%;
  padding: 10px;
  min-height: 530px;
}
#state-container > h1 {
  display: inline-flex;
  position: relative;
  bottom: 27px;
  font-size: 40px;
  padding-left: 20px;
}
#state-data {
  list-style-type: none;
  padding: 0;
}
#state-data > li > p {
  font-size: 30px;
  padding-bottom: 10px;
}
#state-data > li {
  padding-left: 10px;
}
#state-date > p {
  text-align: center;
  font-size: 15px !important;
}
.data-title {
  font-size: 20px;
}
#flag-contain {
  height: 94px;
  width: 132px;
  display: inline-flex;
}
.separate-line {
  border-bottom: 2px solid black;
  width: 100%;
  margin: 15px 0;
  height: 2px;
}

#state-detail-link {
  text-align: center;
  display: block;
  padding: 5px 10px;
  margin-top: 20px;
  width: fit-content;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#state-detail-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 2px black;
}

/* covid news section */

.covid-container > h1 {
  text-align: center;
  font-size: 30px;
  background-color: #0d3f67;
  padding: 20px 0;
  margin: 30px 10px;
  color: white;
}

.usa-data-container {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(208, 223, 230, 0.3);
}
.usa-data-container > h1 {
  text-align: center;
  font-size: 30px;
  background-color: #d0dfe6;
  padding: 20px 0;
}

#news {
  width: 55%;
  float: left;
}
#news img {
  max-width: 265px;
}
#news li {
  display: inline-flex;
  padding: 10px;
}

#news .img-link {
  max-width: 265px;
  position: relative;
  display: inline-block;
}
#news .news-details {
  display: block;
  padding: 10px 10px 10px 20px;
}

.news-details > a {
  height: fit-content;
  text-decoration: none;
}
.news-details h2 {
  font-size: 20px;
  color: black;
}

.news-details p {
  color: rgba(0, 0, 0, 0.6);
  margin: 10px auto;
}
#usa-data {
  float: right;
  width: 40%;
  padding-top: 30px;
}
#quicklinks {
  padding: 20px;
}
.chart {
  padding: 5px;
}
.loader {
  border: 5px solid #f3f3f3;
  border: 5px solid springgreen;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 200px;
  display: none;
  margin: auto;
  text-align: center;
  z-index: 999;
}
.load-container {
  width: 50%;
  height: 0px;
}
.show {
  display: block;
}
/* #state-image {
  background-image: url("../images/map-outline.png");
  background-repeat: no-repeat;
  background-size: 600%;
  height: 200px;
  width: 200px;
} */

/* state html page  */

.state-general,
.state-covid {
  width: 45%;
  display: inline-block;
}

.state-covid > div > h2,
.state-covid > a,
.state-area > h2,
.state-area > a {
  font-size: 25px;
  padding: 7px 0px;
}
.state-covid > h1 {
  font-size: 40px;
  padding: 40px 0 20px;
}
.state-covid p {
  padding-bottom: 10px;
}

.fa-arrow-circle-up {
  color: red;
  padding-left: 5px;
  font-size: 20px;
}
.fa-arrow-circle-down {
  color: green;
  padding-left: 5px;
  font-size: 20px;
}
.state-area {
  float: left;
  width: 50%;
  padding: 10px;
  min-height: 530px;
}
.state-area > h1 {
  display: inline-flex;
  position: relative;
  bottom: 27px;
  font-size: 40px;
  padding-left: 20px;
}

.state-area > a {
  text-decoration: none;
  display: block;
}

.graph-contain {
  height: 445px;
  overflow-x: auto;
  width: fit-content;
}

#state-page-header {
  background-color: #d0dfe6;
  height: 80px;
}

#state-page-header nav a {
  text-decoration: none;
  text-align: right;
  display: block;
  position: relative;
  top: 30px;
  right: 30px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 778px) {
  .map-container {
    width: 100%;
  }
  #mapid {
    height: 350px;
    width: 100%;
  }
  #state-container {
    min-width: 90vw;
    padding: 10px 10px 30px 10px;
  }
  .map-key-container {
    width: 95%;
  }
  .key-num {
    font-size: 12px;
  }
  #news {
    width: 100%;
  }
  #news li {
    display: inline-flex;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 35px;
  }
  .loader {
    top: 80px;
  }
  #mapid {
    height: 225px;
  }
  .covid-container {
    width: 100%;
  }

  #news li {
    display: block;
    width: 95%;
  }
  #news .img-link {
    display: block;
    margin: auto;
    max-width: 95%;
  }
  #news img {
    max-width: 100%;
  }
  #usa-data {
    width: 100%;
  }
  .usa-data-container {
    width: 95%;
  }
  .load-container {
    width: 100%;
  }
}
